body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eedde4; 
    
    color: #070808
}

header {
    background-color: #2e08b973;
    color: rgb(251, 252, 253);
    text-align: center;
    padding: 1rem 0;
}

.slider-container {
    max-width: 800px;
    margin: 2rem auto;
    position: relative;
}

.slider {
    width: 80%;
    overflow: hidden;
}

.slide {
    display: none;
    width: 80%;
    position: relative;
}

.slide img {
    width: 80%;
    height: auto;
    border-radius: 6px;
}

.slide-info {
    background-color: rgba(38, 240, 98, 0.616);
    padding: 1rem;
    text-align:end;
    border-radius: 0 0 8px 8px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(43, 42, 44, 0.74);
    color: rgb(255, 255, 255);
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5rem;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}